* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  
}

li {
  list-style: none;
}

/* Utility Class */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-alt {
  display: flex;
  justify-content: flex-start;
}

.center {
  margin: 80px auto;
  max-width: 1180px;
}

section h2 a {
  color: #f42;
}

/* Navigation */
.top-nav,
.sticky-nav {
  padding: 0 1.5rem;
}

.m-left li {
  margin-left: 1rem;
}

.m-right li {
  margin-right: 1rem;
}

.top-nav {
  background: #131313;
  font-size: 13px;
  height: 30px;
  position: sticky;
  top: 0;
  left: 0;
  /* z-index: 20; */
}

.top-nav li a,
.sticky-nav li a  {
  color: #999999;
}

.top-nav li a:hover {
  color: #ffffff;
}

nav .sticky-nav {
  background: #ffffff;
  font-size: 14px;
  height: 50px;
  /* position: sticky;
  top: 0;
  left: 0;
  z-index: 20; */
}

.sticky-nav li a:hover {
  color: #000;
}
.sticky-nav div {
  color: #999999;
  border-left: 1px solid #eee;
}

.sticky-nav div i {
  padding: 1rem;
  text-align: center;
}

/* Cover Story Section */
.cover-story-container {
  margin: 0 0.75rem;
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "main aside-top"
                        "main aside-bottom";
  grid-gap: 0.50rem;
  background-image: linear-gradient(#eee, #fff 5%);
  height: 500px;
}

.cover-story-one {
  grid-area: main;
  background-image: linear-gradient(170deg, rgba(246,7,7,1) 0%, rgba(0,0,0,0) 65%), url(./img/cover-img1.jpg);
  background-size: cover;
}

.cover-story-two {
  grid-area: aside-top;
  background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 80%), url(./img/cover-img2.jpeg);
}

.cover-story-three {
  grid-area: aside-bottom;
  background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 80%), url(./img/cover-img3.jpeg);
}

.cover {
  position: relative;
  color: #fff;
}

.logo {
  margin: 10px;
  height: 130px;
}

.cover-date {
  position: absolute;
  top: 16px;
  right: 24px;
  font-size: 14px;
}

header {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 80%);
}

header h5,
header h2,
header ul {
  margin: 0.80rem;
}

.cover header h5 {
  font-size: 14px;
  font-weight: bold;
}

.cover:first-child header h2 {
  font-size: 50px;
}

.cover header a {
  color: #fff;
}

.author-details li {
  margin-right: 0.50rem;
  font-size: 12px;
  color: #999999;
}

/* Latest News Section */
.latest-news h2 {
  margin-bottom: 1.3rem;
  font-size: 26px;
  font-weight: 700;
  margin-left: 20px;
}

.latest-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(224px,270px));
  justify-content: center;
  grid-gap: 1.5rem;
  margin: 0 1rem;
}

.latest-item {
  height: 227px;
}

.latest-item a {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2rem;
}

.latest-item a img {
  width: 100%;
  height: 130px
}

.latest-item a  h4 {
  margin: 0.50rem 0;
}

.latest-item ul li,
.latest-item ul li a {
  font-size: 13px;
  font-weight: 400;
  color: #aaa;
  padding-right: 0.40rem;
  text-align: center;
}